body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.form-container h2 {
  text-align: center;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  width: 40%;
}

.form-group input,
.form-group select {
  width: 55%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.name-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 55%;
}

.name-group input {
  width: 50%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.form-buttons button {
  background-color: #264653;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 32%;
}

.form-buttons button:hover {
  background-color: #1d3557;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 55%;
  background-color: white;
}