/* .Footer {

  position: relative;
  
  display: grid;
  grid-auto-flow: column;

}

.Footer > div {
  padding: 2%;
}

.LineBreak {
  width: 100%;
  height: 0px;
  left: 0px;
  top: 0px;
  position: absolute;
  border: 1px #ececec solid;
} 

.heading {
  color: black;
  font-size: 20px;
  word-wrap: break-word;
  font-weight: bold;
}

.text-content {
  color: rgb(54, 54, 54);
  font-size: 12px;
  word-wrap: break-word;
} */
