<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Laptops Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Products.css">
</head>

<body>

    <header id="main-header">
        <a href="Home.html">
            <img src="Images/logo.png" alt="Gadget Grads Logo" class="logo">
        </a>
        <h1>GADGET GRADS</h1>
        <h2>Graduate with better tech!</h2>

        <div class="searchnav">
            <input type="text" placeholder="Search products and brands" class="search-input">
        </div>

        <div class="icons">
            <a href="profile.html" class="user-icon" title="Profile">
                <img src="Images/user-1.svg" alt="User Icon" height="30">
            </a>
            <a href="wishlist.html" class="wishlist-icon" title="Wishlist">
                <img src="Images/heart.svg" alt="Wishlist Icon" height="30">
            </a>
            <a href="cart.html" class="cart-icon" title="Basket">
                <img src="Images/basket.svg" alt="Cart Icon" height="30">
            </a>
        </div>
    </header>

    <nav class="topnav">
        <a class="active" href="#Laptops">Laptops/PC</a>
        <a href="TabletPage.html">Tablets</a>
        <a href="Accessories.html">Accessories</a>
        <a href="Phones.html">Phones</a>
        <a href="Smartwatches.html">Smartwatches</a>
    </nav>

    <div class="sort-section">
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort">
            <option value="default">Default</option>
            <option value="price-low-to-high">Price: Low to High</option>
            <option value="price-high-to-low">Price: High to Low</option>
            <option value="name-a-to-z">Name: A to Z</option>
            <option value="name-z-to-a">Name: Z to A</option>
        </select>
    </div>

    <div class="product-section">
        <div class="product">
            <img src="Images/MacBookAir" alt="Apple MacBook Air" class="product-image">
            <div class="product-info">
                <h3 class="product-title">APPLE MacBook Air 13.6" (2024) - M3, 512 GB SSD </h3>
                <p class="product-price">£1416.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=1">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>

    <div class="product-section">
        <div class="product">
            <img src="Images/Thinkpad" alt="Thinkpad Tablet" class="product-image">
            <div class="product-info">
                <h3 class="product-title">Lenovo Thinkpad IdeaPad Gaming 3 16" Gaming Laptop  </h3>
                <p class="product-price">£799.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=2">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>

    <div class="product-section">
        <div class="product">
            <img src="Images/Thinkpad2" alt="Thinkpad 2" class="product-image">
            <div class="product-info">
                <h3 class="product-title">LENOVO IdeaPad 1 15.6" Laptop - AMD Ryzen 5, 512 GB SSD </h3>
                <p class="product-price">£499.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=3">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>

    <div class="product-section">
        <div class="product">
            <img src="Images/HP" alt="HP Laptop" class="product-image">
            <div class="product-info">
                <h3 class="product-title">HP 15s-fq5510sa 15.6" Laptop - Intel® Core™ i5, 256 GB SSD
                </h3>
                <p class="product-price">£309.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=4">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>

    <div class="product-section">
        <div class="product">
            <img src="Images/HP2" alt="HP 2" class="product-image">
            <div class="product-info" style="width: 150px; height: auto;"></div>
                <h3 class="product-title">HP Pavilion 24-cr1007na 23.8" All-in-One PC - Intel® Core™ Ultra 5, 1 TB SSD </h3>
                <p class="product-price">£699.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=5">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="product">
            <img src="Images/HP3" alt="HP stream" class="product-image">
            <div class="product-info" style="width: 150px; height: auto;"></div>
                <h3 class="product-title">HP Stream 14s-dq0508sa 14" Laptop - Intel® Celeron®, 128 GB SSD</h3>
                <p class="product-price">£159.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=5">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="product">
            <img src="Images/Lenovo2" alt="Lenovo 2" class="product-image">
            <div class="product-info" style="width: 150px; height: auto;"></div>
                <h3 class="product-title">LENOVO IdeaPad Slim 3 14" Chromebook - MediaTek Kompanio 520</h3>
                <p class="product-price">£149.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=5">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="product">
            <img src="Images/Samsung3" alt="Samsung book3" class="product-image">
            <div class="product-info" style="width: 150px; height: auto;"></div>
                <h3 class="product-title">SAMSUNG Galaxy Book3 360 13.3" 2 in 1 Laptop </h3>
                <p class="product-price">£549.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=5">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="product">
            <img src="Images/MacBookAir2" alt="Mac 2" class="product-image">
            <div class="product-info" style="width: 150px; height: auto;"></div>
                <h3 class="product-title">APPLE MacBook Pro 14" (2024) - M4, 1 TB SSD</h3>
                <p class="product-price">£1599.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=5">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="product">
            <img src="Images/Lenovo3" alt="Lenovo 3" class="product-image">
            <div class="product-info" style="width: 150px; height: auto;"></div>
                <h3 class="product-title">LENOVO IdeaPad Slim 3i 14" Chromebook Plus - Intel® Core</h3>
                <p class="product-price">£249.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=5">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
        