<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tablet Page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Products.css">
</head>

<body>

    <header id="main-header">
        <a href="Home.html">
            <img src="Images/logo.png" alt="Gadget Grads Logo" class="logo">
        </a>
        <h1>GADGET GRADS</h1>
        <h2>Graduate with better tech!</h2>

        <div class="searchnav">
            <input type="text" placeholder="Search products and brands" class="search-input">
        </div>

        <div class="icons">
            <a href="profile.html" class="user-icon" title="Profile">
                <img src="Images/user-1.svg" alt="User Icon" height="30">
            </a>
            <a href="wishlist.html" class="wishlist-icon" title="Wishlist">
                <img src="Images/heart.svg" alt="Wishlist Icon" height="30">
            </a>
            <a href="cart.html" class="cart-icon" title="Basket">
                <img src="Images/basket.svg" alt="Cart Icon" height="30">
            </a>
        </div>
    </header>

    <nav class="topnav">
        <a class="active" href="#Phones">Phones</a>
        <a href="Laptops.html">Laptops</a>
        <a href="Accessories.html">Accessories</a>
        <a href="Phones.html">Phones</a>
        <a href="Smartwatches.html">Smartwatches</a>
    </nav>

    <div class="sort-section">
        <label for="sort">Sort by:</label>
        <select id="sort" name="sort">
            <option value="default">Default</option>
            <option value="price-low-to-high">Price: Low to High</option>
            <option value="price-high-to-low">Price: High to Low</option>
            <option value="name-a-to-z">Name: A to Z</option>
            <option value="name-z-to-a">Name: Z to A</option>
        </select>
    </div>

    <div class="product-section">
        <div class="product">
            <img src="Images/ApplePhone" alt="Phone" class="product-image">
            <div class="product-info">
                <h3 class="product-title">APPLE iPhone 16 - 128 GB</h3>
                <p class="product-price">£800.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=1">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>

    <div class="product-section">
        <div class="product">
            <img src="Images/ApplePhone2" alt="Phone2" class="product-image">
            <div class="product-info">
                <h3 class="product-title">APPLE iPhone 16 Pro Max - 256 GB </h3>
                <p class="product-price">£1100.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=2">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>

    <div class="product-section">
        <div class="product">
            <img src="Images/SamsungPhone" alt="Phone3" class="product-image">
            <div class="product-info">
                <h3 class="product-title">SAMSUNG Galaxy A55 5G - 128 GB </h3>
                <p class="product-price">£249.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=3">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>

    <div class="product-section">
        <div class="product">
            <img src="Images/SamsungPhone2" alt="Phone4" class="product-image">
            <div class="product-info">
                <h3 class="product-title">SAMSUNG Galaxy S24 - 128 GB </h3>
                <p class="product-price">£549.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=4">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>

    <div class="product-section">
        <div class="product">
            <img src="Images/SamsungPhone3" alt="Phone5" class="product-image">
            <div class="product-info" style="width: 150px; height: auto;"></div>
                <h3 class="product-title">SAMSUNG Galaxy A16 5G </h3>
                <p class="product-price">£119.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=5">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="product">
            <img src="Images/SamsungPhone4" alt="Phone6" class="product-image">
            <div class="product-info" style="width: 150px; height: auto;"></div>
                <h3 class="product-title">SAMSUNG Galaxy Z Flip6</h3>
                <p class="product-price">£800.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=5">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="product">
            <img src="Images/SamsungPhone5" alt="Phone7" class="product-image">
            <div class="product-info" style="width: 150px; height: auto;"></div>
                <h3 class="product-title">SAMSUNG Galaxy S24 Ultra</h3>
                <p class="product-price">£900.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=5">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="product">
            <img src="Images/ApplePhone3" alt="Phone8" class="product-image">
            <div class="product-info" style="width: 150px; height: auto;"></div>
                <h3 class="product-title">APPLE iPhone 15</h3>
                <p class="product-price">£599.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=5">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="product">
            <img src="Images/ApplePhone4" alt="Phone9" class="product-image">
            <div class="product-info" style="width: 150px; height: auto;"></div>
                <h3 class="product-title">APPLE iPhone 14 - 128 GB</h3>
                <p class="product-price">£499.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=5">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
    <div class="product-section">
        <div class="product">
            <img src="Images/ApplePhone5" alt="Phone10" class="product-image">
            <div class="product-info" style="width: 150px; height: auto;"></div>
                <h3 class="product-title">APPLE iPhone 13 - 128 GB</h3>
                <p class="product-price">£349.00</p>
                <div class="product-buttons">
                    <button class="view-button">
                        <a href="products.html?id=5">View product</a>
                    </button>
                    <button class="add-button">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
        