.dark-mode .sidebar {
  background-color: #2c3e50;
  color: #e1e8ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dark-mode .filter-title {
  background-color: #34495e;
  color: #8ca9f2;
}

.dark-mode .sidebar h2 {
  color: #ffffff;
  background-color: #2d4059;
  border-bottom: 2px solid #8ca9f2;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}


.dark-mode .filter-content {
  background-color: #1a1a1a;
  border: 1px solid #34495e;
  color: #e1e8ff;
}

.dark-mode #applyFilters {
  background-color: #8ca9f2;
  color: #1a1a1a;
  border-color: #8ca9f2;
  box-shadow: 0 2px 4px rgba(99, 132, 228, 0.2);
}