.total-box-container { 
    display: flex; 
    justify-content: flex-end; /* Aligns the total-box to the right */ 
    width: 30%; /* Make sure it fits within the parent container */ 
} 

.total-box { 
    width: 100%; /* Adjust width as needed */ 
    background-color: #1D4056; /* Updated navy color */ 
    color: white; 
    padding: 20px; 
    border-radius: 10px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
} 

.total-box p { 
    font-size: 1.2em; 
    margin-bottom: 20px; /* Space below paragraphs */ 
} 

.total-box .basket-btn { 
    background-color: #0A7BE5; /* Updated button color */ 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 5px; 
    margin-bottom: 20px; 
}
